.card {
	position: relative;
	min-height: 208px;
	text-align: center;
	cursor: pointer;
}

.card.opacity_view {
	opacity: 0.5;
}

.wrapper_image img {
	position: relative;
	z-index: 10;
	width: 100%;
	height: auto;
}

.wrapper_price {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
