.burger_constructor {
	display: flex;
	flex-direction: column;
	width: 600px;
	color: var(--text-primary-color);
}

.result {
	display: flex;
	align-items: center;
	gap: 40px;
	margin-left: auto;
}

.wrapper_price {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.wrapper_price svg {
	width: 33px;
	height: 33px;
}
