.modal {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
}

.modal_card {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	box-sizing: border-box;
	width: 720px;
	height: 538px;
	padding: 40px;
	background-color: rgb(0 0 0 / 100%);
	border-radius: 40px;
	transform: translate(-50%, -50%);
}

.modal_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal_header button {
	background-color: rgb(0 0 0 / 100%);
	border: none;
	cursor: pointer;
}

.modal_header button:hover {
	opacity: 0.8;
}
