.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: var(--text-primary-color);
	background-color: var(--background-alt);
}

.main {
	width: 1240px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.title {
	align-self: center;
	width: 100%;
	max-width: 1260px;
}

.inner_main {
	height: 100%;
	text-align: center;
}

.wrapper_data {
	display: flex;
	justify-content: space-between;
}
