.wrapper {
	width: 640px;
	min-height: 480px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: start;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: calc(100vh - 615px);
	min-height: 150px;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	list-style: none;
}

.wrapper_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
