.wrapper {
	box-sizing: border-box;
	width: 64px;
	height: 64px;
	background-image:
		linear-gradient(#1c1c21, #1c1c21),
		radial-gradient(circle at top left, #801ab3, #4c4cff);
	background-clip: padding-box, border-box;
	background-origin: border-box;
	border: 2px solid transparent;
	border-radius: 50%;
}

.wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
